@{
    ViewBag.Title = "About Eddy Current Solutions, LLC";
}

<section class="hero is-small is-light is-bold">
    <div class="hero-body">
        <div class="container pointOfView">
            <div class="columns">
                <div class="is-8">
                    <h1>
                        A Different Point of View
                    </h1>
                    <h2>
                        Our eddy current inspection is developed with the objective of reducing and eliminating
                        false rejects that will result in maximum yield and reduced cost.
                    </h2>
                    <h2 class="viewText">
                        Our vast experience of working in the automotive industry as Metallurgists with heat
                        treat process development such as furnace hardening, carburizing, induction hardening
                        and tempering and expertise with eddy current technology puts us in a unique position
                        to custom design probes and develop eddy current inspections for each application that
                        are capable of detecting even a minor defect that most eddy current equipment
                        manufacturer's  inspection systems will miss.
                    </h2>
                </div>

                <div class="is-4 aboutImage">
                    <img src="~/images/IMG_0300.JPG" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-large is-dark is-bold">
    <div class="hero-body trainingBackground">
        <div class="container columns">
            <div class="is-8">
                <h1 class="title">
                    Training and Background
                </h1>
                <h2>
                    30 years experience and leadership in
                    developing processes and solving problems in the field of Eddy Current
                    technology, Metallurgy, and Heat Treatment of automotive
                    components.
                </h2>

            </div>
            <div class="is-4">
                <img src="~/images/IMG_0256.JPG" />
            </div>

        </div>
    </div>
</section>

<section class="hero is-medium is-light is-bold">
    <div class="hero-body projects">
        <div class="container columns">
            <div class="is-8">
                <h1 class="title">
                    International Projects
                </h1>
                <h2 class="subtitle">
                    Designed and built automated Eddy Current inspection systems for
                    Tier I automotive component suppliers in China, Korea, Brazil, and
                    Spain.
                    Provided training to the staff on site and developed documentation
                    according to their quality systems.
                </h2>
            </div>
            <div class="is-4">
                <img src="~/images/IMG_0163.JPG" />
            </div>
        </div>
    </div>
</section>



<div class="tile is-ancestor">
    @*<div class="tile is-3 is-vertical is-parent">
        @* LITTLE LEFT SIDE TILES *@
        @*<div class="tile is-child box quoteTile">
            <a href="~/Home/GetQuote"><p class="title quoteTitle">Subject Matter Expert</p></a>
            <hr/>
            <ul>
                <li>Eddy Current Testing of heat treat process and surface defects</li>
                <li>Induction and furnace heat treatment of automotive components</li>
                <li>Ultrasonic and High Pressure Cleaning of automotive components</li>
                <li>Laser safety officer for industrial equipment</li>
            </ul>
        </div>

        <div class="tile is-child box quoteTile">
            <p class="title quoteTitle">International Work Experience</p>
            <p>Multiple projects in Spain, China, Brazil, and South Korea</p>
            <ul>
                <li>Designed, built, qualified, and installed heat trat equipment and Eddy Current inspection system</li>
                <li>Trained associated personnel on use of equipment and systems</li>
                <li>Created Eddy Current inspection standard masters for heat treat process</li>
                <li>Provided training on how to create standard masters on heat treat equipment</li>
                <li>Trained personnel on creating documentation for heat treat process and Eddy Current inspection systems</li>
            </ul>
        </div>*@
    @*</div>*@
@* THIS IS THE BIG CENTER TILE *@
    @*<div class="tile is-parent">
        <div class="tile is-child box consultTile">
            <p class="title aboutTileTitle has-text-centered">MAJOR COST SAVING PROJECTS</p>
            <hr />
            <p class="tileTitleSmall">
                DELPHI
            </p>
            <p class="title moneySaved">$1.2 Million saved</p>
            <ul class="howSavedMoney has-text-centered">
                <li>Created Eddy Current system to identify poorly heat treated wheel bearing studs to avoid a major product recall</li>
            </ul>

            <p class="tileTitleSmall">
                GENERAL MOTORS
            </p>
            <p class="title moneySaved">$1.0 Million saved</p>
            <ul class="howSavedMoney has-text-centered">
                
            </ul>

            <p class="tileTitleSmall">
                GENERAL MOTORS
            </p>
            <p class="title moneySaved">$250,000 saved</p>
            <ul class="howSavedMoney has-text-centered">
                
            </ul>

            <p class="tileTitleSmall">
                GENERAL MOTORS
            </p>
            <p class="title moneySaved">$1.5 Million saved</p>
            <ul class="howSavedMoney has-text-centered">
                
            </ul>

            <p class="tileTitleSmall">
                GENERAL MOTORS
            </p>
            <p class="title moneySaved">$750,000 saved</p>
            <ul class="howSavedMoney has-text-centered">
                
            </ul>
        </div>
    </div>*@

    @*<div class="tile is-3 is-vertical is-parent">
        @* LITTLE RIGHT SIDE TILES *@
        @*<div class="tile is-child box aboutTile">
            <a href="~/Home/GetQuote"><p class="title quoteTitle">Request a Quote</p></a>
            <p>
                ECS, LLC can help reduce your costs and improve you bottom line.
            </p>
            <button href="~/Home/GetQuote">Get Quote</button>
        </div>

        <div class="tile is-child box quoteTile">
            <a href="~/Home/About"><p class="title quoteTitle">Key Experience</p></a>
            <p>
                Bablu Ratnaparkhi of Eddy Current Solutions, LLC, developed his own methodology of non-destructive testing, system design
                and assembly, and sorting through his 30+ years of work with General Motors, Delphi, and AmericanAxle.
            </p>
            <button href="~/Home/About">More About Bablu</button>
        </div>*@
    @*</div>*@
</div>

<p>Use this area to provide additional information.</p>
