
@{
    ViewBag.Title = "Get a Quote";
}

<h2>Get a Quote</h2>

<div class="field">
    <label class="label is-large">Name</label>
    <div class="control">
        <input class="input is-large" type="text" placeholder="Your Name">
    </div>
</div>

<div class="field">
    <label class="label is-large">Email address</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="text" placeholder="Email Address" value="bulma">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
    </div>
</div>

<div class="field">
    <label class="label is-large">Subject</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="email" placeholder="Subject" value="hello">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
</div>

@* type of defect, cracks, heat treat; part material what kind of steel;  *@

<div class="field">
    <label class="label is-large">Message</label>
    <div class="control">
        <textarea class="textarea" placeholder="What do you need help with?"></textarea>
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
</div>