@{
    ViewBag.Title = "Home Page";
}

@* HERO BANNER *@
<container>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure>
                    <img class="eddyLogo" src="~/Content/ECSFinalLogoTransparentBAckground.png" />
                </figure>
                <h1 class="subtitle logoSubtitle">
                    SORTING | NON-DESTRUCTIVE TESTING | CONSULTING
                </h1>
                <h3 class="subtitle2">Over 30 years of experience in testing, sorting, and automated and semi-automated system design. </h3>
</div>
        </div>
    </section>
</container>

<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">

        <div class="tile is-child box quoteTile">
            <a href="~/Home/GetQuote"><p class="title quoteTitle">Request a Quote</p></a>
                <p>ECS, LLC can help reduce your costs and improve your overall bottom line with our experience and knowledge.
                   Send us an email or give us a call. We'd love to help.</p>
                <a class="button" href="~/Home/GetQuote">Get Quote</a>
        </div>
        
        <div class="tile is-child box aboutTile">
            <a href="~/Home/About"><p  class="title quoteTitle">A Different Point of View</p></a>
            <p>
                Bablu Ratnaparkhi of ECS developed his own methodology of non-destructive testing, system design
                and assembly, and sorting through his 30+ years of work.
            </p>
            <a class="button" href="~/Home/About">More About Bablu</a>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box consultTile">
            
                <a href="~/Home/Services"><p class="title tileTitle">Decades of Process Improvement and Cost Reduction</p></a>
                <p class="tileTitleSmall">
                    Let us support you with our consultation and expertise with non destructive testing to improve quality, reduce cost & cycle time 
                    while detecting and sorting defective component and eliminating scrap.
                </p>

                <div class="columns indexColumns">
                    <div class="column is-6">
                        <a class="button" href="~/Home/GetQuote">Schedule a Consultation</a>
                    </div>
                    <div class="column is-6">
                        <a class="button" href="~/Home/GetQuote">Get a Quote</a>
                    </div>
                </div>

            <div class="columns">
                <div class="column is-6 components servicesList">
                    <p class="ulTitle">
                        Sorting & non-destructive testing of automotive components, detecting
                        poor heat treat process, cracks, and mixed steel conditions
                        such as:
                    </p>
                    <ul class="listOfServices">
                        <li>Transmission components</li>
                        <li>Wheel bearing components</li>
                        <li>Axle shaft components</li>
                        <li>Engine components</li>
                    </ul>
                </div>
                <div class="column is-6 others servicesList">
                    <p class="ulTitle">Other Services offered include:</p>
                    <ul class="otherServices">
                        <li>Automated inspection machine design and build</li>
                        <li>Developing Inspection & standard verification masters.</li>
                        <li>Trouble shooting with existing systems.</li>
                        <li>Documentation for operation, verification & PFMEA</li>
                        <li>Personnel training</li>
                        <li>Project consulting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero is-small is-white is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="subtitle logoSubtitle innoApp">
                An innovative approach to Eddy Current Technology
            </h1>
            <h3 class="subtitle2">
                Expertise in root cause analysis and developing inspection systems to
                find parts with even minor defects that most conventional systems will miss.
                Creative probe designs for higher quality inspections to reduce costs
                by eliminating false rejects.

            </h3>
        </div>
    </div>
</section>

<div class="row">
    <div class="columns">
        <div class="is-4 indexPics">
            <img class=" indexPics"src="~/images/IMG_0191.JPG" />
        </div>
        <div class="is-4 indexPics">
            <img class="has-text-centered indexPics" src="~/images/IMG_0181.JPG" />
        </div>
        <div class="is-4 indexPics">
            <img class="has-text-centered indexPics" src="~/images/IMG_0176.JPG" />
        </div>

    </div>
</div>

<div class="row">
    <p class="title aboutTileTitle has-text-centered">MAJOR COST SAVING PROJECTS</p>
</div>
<div class="columns has-text-centered">
    <div class="column is-12 is-centered">
        <h3 class="savedMillions">Saved millions of dollars for major automotive manufacturers</h3>
        <p class="title moneySaved has-text-centered">$1.2 Million saved</p>
        <h3 class="subtitle2">
            Developing Eddy Current inspections for wheel bearing studs to sort poorly heat treated parts that a major fastener inspection company was unable to do
        </h3>
            <p class="title moneySaved">$250,000 saved</p>
            <h3 class="subtitle2">
                Designed Eddy Current instrument capable of dual applications such as material testing and crack detection, eliminating
                the need to maintain spare instruments</h3>
                <p class="title moneySaved">$1.5 Million saved</p>
                <h3 class="subtitle2">
                    Improving quality and reducing costs for automotive component and wheel bearing manufacturing companies by replacing
                    their inadequate NDT inspections with state of art and robust Eddy Current systems.</h3>

</div>
</div>
@* a different point of view *@