@{
    ViewBag.Title = "Home Page";
}

@* HERO BANNER *@
<container>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure>
                    <img class="eddyLogo" src="~/Content/ECSFinalLogoTransparentBAckground.png" />
                </figure>
                <h2 class="subtitle logoSubtitle">
                    @* line 10389 in bulma *@
                    Over 30 years of experience helping businesses test, sort, and efficiently produce high-quality parts and materials.
                </h2>
            </div>
        </div>
    </section>
</container>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">

        <div class="tile is-child box">
            <a href="~/Home/GetQuote"><p class="title tileTitle">Get a Quote</p></a>
                <p>Know something's wrong, but want an expert's knowledge and experience? Send us an email or give us a call. We'd love to help.</p>
            
        </div>
        
        <div class="tile is-child box">
            <a href="~/Home/About"><p  class="title tileTitle">Over 30 years of Expertise in System Design and Sorting</p></a>
            <p>
                Bablu Ratnaparkhi of Eddy Current Solutions, LLC, has developed his own methodology of non-destrcutive testing through his work with AmericanAxle and Delphi Engine. He is a level 3 eddy current
                test specialist, and has helped companies such as THIS ONE and THIS ONE cut costs and improve the overall quality of their products.
            </p>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title tileTitle">Consulting - Find the Problem with the Process</p>
            <p class="tileTitleSmall">
                Cut down on flaws in your product by finding the flaw in your process. Let us help you 
                decrease the likelihood of manufacturing a flawed product.
            </p>
                <ul class="listOfServices has-text-centered">
                    <li>Automated system design and build</li>
                    <li>Sorting services</li>
                </ul>
            <p class="title tileTitleSmall">
                Sorting Services are also offered through our Non-Destructive Testing of
            </p>
                <ul class="listOfServices has-text-centered">
                    <li>Transmission components</li>
                    <li>Wheel bearing components</li>
                    <li>Axle shaft components</li>
                    <li>Engine components</li>
                </ul>
        </div>
    </div>
</div>