@{
    ViewBag.Title = "Home Page";
}

@* HERO BANNER *@
<container>
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure>
                    <img class="eddyLogo" src="~/Content/ECSFinalLogoTransparentBAckground.png" />
                </figure>
                <h1 class="subtitle logoSubtitle">
                    @* line 10389 in bulma *@
                    SORTING | NON-DESTRUCTIVE TESTING | CONSULTING
                </h1>
                <h3>Over 30 years of experience in testing, sorting, and automated system design and assembly. </h3>
</div>
        </div>
    </section>
</container>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">

        <div class="tile is-child box quoteTile">
            <a href="~/Home/GetQuote"><p class="title quoteTitle">Request a Quote</p></a>
                <p>Know something's wrong, but want an expert's knowledge and experience? Send us an email or give us a call. We'd love to help.</p>
                <button href="~/Home/GetQuote">Get Quote</button>
        </div>
        
        <div class="tile is-child box aboutTile">
            <a href="~/Home/About"><p  class="title quoteTitle">Over 30 years of Experience </p></a>
            <p>
                Bablu Ratnaparkhi of Eddy Current Solutions, LLC, developed his own methodology of non-destructive testing, system design 
                and assembly, and sorting through his 30+ years of work with AmericanAxle, Delphi Engine, and others.
            </p>
            <button>More About Bablu</button>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box consultTile">
            <a href="~/Home/Services"><p class="title tileTitle">Find the Problem with the Process</p></a>
            <p class="tileTitleSmall">
                Cut down on flaws in your product by finding the flaw in your process. Let us help you with a consultation and a full run down
                of our non-destructive testing and sorting services to find and decrease the flaws in your products.
            </p>
                <ul class="listOfServices has-text-centered">
                    <li>Automated system design and assembly</li>
                    <li>Sorting and non-destructive testing</li>
                    <li>Transmission components</li>
                    <li>Wheel bearing components</li>
                    <li>Axle shaft components</li>
                    <li>Engine components</li>
                </ul>
            <button>Schedule a Consultation</button>
            <button>Get a Quote</button>
        </div>
    </div>
</div>