
@{
    ViewBag.Title = "Services";
}

<div class="columns servicesList">
    <div class="column is-6">
        <p class="ulTitle">Sorting & non-destructive testing:</p>
        <ul class="listOfServices has-text-centered">
            <li>Automotive components</li>
            <li>Transmission components</li>
            <li>Wheel bearing components</li>
            <li>Axle shaft components</li>
            <li>Engine components</li>
        </ul>
    </div>
    <div class="column is-6">
        <p class="ulTitle">Other Services offered include:</p>
        <ul class="listOfServices has-text-centered">
            <li>Automated system design</li>
            <li>Automated system assembly</li>
            <li>Re-Certification</li>
            <li>Procedure creation</li>
            <li>Personnel training</li>
        </ul>
    </div>
</div>
