
@{
    ViewBag.Title = "Services";
}

<div>
    <h2 class="quotePageTitle">Decades of Process Improvement and Cost Reduction</h2>
    <p class="tileTitleSmall">
        Let us support you with our consultation and expertise with non destructive testing to improve quality, reduce cost & cycle time
        while detecting and sorting defective component and eliminating scrap.
    </p>

    <div class="columns indexColumns">
        <div class="column is-6">
            <a class="button" href="~/Home/GetQuote">Schedule a Consultation</a>
        </div>
        <div class="column is-6">
            <a class="button" href="~/Home/GetQuote">Get a Quote</a>
        </div>
    </div>
</div>


<div class="columns">
    <div class="column is-6 components servicesList">
        <p class="ulTitle">
            Sorting & non-destructive testing of automotive components, detecting
            poor heat treat process, cracks, and mixed steel conditions
            such as:
        </p>
        <ul class="listOfServices">
            <li>Transmission components</li>
            <li>Wheel bearing components</li>
            <li>Axle shaft components</li>
            <li>Engine components</li>
        </ul>
    </div>
    <div class="column is-6 others servicesList">
        <p class="ulTitle">Other Services offered include:</p>
        <ul class="otherServices">
            <li>Automated inspection machine design and build</li>
            <li>Developing Inspection & standard verification masters.</li>
            <li>Trouble shooting with existing systems.</li>
            <li>Documentation for operation, verification & PFMEA</li>
            <li>Personnel training</li>
            <li>Project consulting</li>
        </ul>
    </div>
</div>
