body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: font-family: 'Questrial', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.eddyLogo{
    max-height: 475px;
    max-width:100%;
}
.logoSubtitle {
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
    color:blue;
}
.eddyNavTab {
    font-family: 'Questrial', sans-serif;
    font-size: 36px;
}
/*.hero-body {
    background-image: url('EddyCurrentLLCLogoTransparentBackground.png');
    background-size: cover;
    height:620px;
    width:100%;
}*/
/*ALL GOOGLE FONTS*/
/*font-family: 'Archivo Black', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Questrial', sans-serif;*/
